

main{
  padding: 30px;
}
.plus-icon {
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: linear-gradient(#fff 0 0), linear-gradient(#fff 0 0);
    background-position: center;
    background-size: 50% 0.1rem,0.1rem 50%;
    background-repeat: no-repeat;
    
}


.accordion-list__items-container{
  display: flex;
  border-radius: 1rem;
  flex-direction: column;
  margin: 0 auto;
  max-width: 28rem;
  cursor: pointer;

  
}
.radio-btn{
  display: none;
}
.accordion-list__item{

}
.top-content__container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  cursor: pointer;

}

.bottom-content__container{
  display: flex;
  justify-content: center;
}

.img-wrappper{
  background-image: url(.//images/first-bayan.gif);
  background-size: contain;
  display: block;
  /* height: 300px;
  width: 300px; */
  height: 0;
  width: 0;
  background-repeat: no-repeat;
  overflow: hidden;
  visibility: hidden;
  transition: all .5s;
}
.second-bayan{
  background-image: url(.//images/second-bayan.png);
}
.third-bayan{
  background-image: url(.//images/third-bayan.png);
}
.fourth-bayan{
  background-image: url(.//images/fourth-bayan.png);
}
.fifth-bayan{
  background-image: url(.//images/fifth-bayan.jpg);
}




.accordion-list__item .radio-btn:checked~label .img-wrappper{
  width: 15rem;
  height: 15rem;
  overflow: visible;
  visibility: visible;
  cursor: pointer;
  margin: 2rem;
}

.accordion-list__item .radio-btn:checked~label .plus-icon{
  transform: rotate(225deg); 
}

.accordion-list__items-container .radio-btn:checked ~ label span {
  color: #3ee3ff;
   
}


#first-item__content{

}